@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;0,6..96,800;0,6..96,900;1,6..96,400;1,6..96,500;1,6..96,600;1,6..96,700;1,6..96,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	font-size: 1.2vw;
}

body {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(to right, #3c2384 30%, #eb9bc8 30% 70%) no-repeat;
	overflow: hidden;
}

nav {
	display: flex;
	align-items: center;
}

h2 {
	font: bold;
	font-size: 4vw;
	font-style: italic;
	font-family: "Bodoni Moda", serif;
	color: #eca0f8;
	margin: 1vw 0 0 4vw;
}

.links {
	margin: 0 0 0 16vw;
}

.link {
	padding: 3vw;
	font-size: 1.3vw;
	display: inline;
}

.body {
	display: flex;
}

.img {
	width: 24vw;
	height: 32vw;
	/* margin: 5vw 0 0 15vw; */
	transform: translateX(15vw) translateY(5vw);
	position: relative;
}

.fashion {
	transform: rotate(-90deg);
	font-family: "Bakbak One";
	font-style: normal;
	position: absolute;
	top: 22.8vw;
	left: 21vw;
	font-size: 6.5vw;
	background: linear-gradient(
		to bottom,
		#eb9bc8 30%,
		#fff 50%,
		#3c2384 50% 100%
	);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.texts {
	float: right;
	transform: translateX(30vw) translateY(13vw);
	font-style: italic;
	font-family: "Bodoni Moda", serif;
}

.texts h1 {
	font: 1100;
	font-size: 5vw;
	color: #2e1085;
}

.texts p {
	font: 100;
	color: #280d77;
	font-size: 1.4vw;
}

.horizontal {
	transform: translateX(-3vw) translateY(-34vw);
	writing-mode: vertical-rl;
	transform-origin: left;
	float: right;
}

.hamburger {
	display: none;
	float: right;
}

@media (max-width: 500px) {
	body {
		background: linear-gradient(to right, #3c2384 25%, #eb9bc8 25% 75%)
			no-repeat;
	}
	.name {
		font-size: 5vw;
	}
	.img {
		width: 32vw;
		height: 48vw;
		transform: translateX(8vw) translateY(5vw);
		position: relative;
	}
	.fashion {
		top: 30vw;
		left: 14.3vw;
		font-size: 10vw;
	}
	.texts h1 {
		font-size: 6.2vw;
		transform: translateX(-7vw) translateY(6vw);
	}

	.texts p {
		font-size: 2.8vw;
		transform: translateX(-7vw) translateY(6vw);
		width: 28vw;
	}

	.links {
		margin: 1vw 0 0 5.5vw;
	}

	.hamburger {
		display: inline;
		transform: translateX(63vw);
	}

	.link {
		padding: 2.8vw;
		font-size: 2.3vw;
		display: none;
	}
	.horizontal {
		transform: translateX(-3vw) translateY(-48vw);
		letter-spacing: 0.2vw;
	}
}

@media (min-width: 500px) and (max-width: 800px) {
	.link {
		font-size: 1.8vw;
	}
	.horizontal {
		transform: translateX(-3vw) translateY(-32vw);
	}

	.img {
		/* width: 24vw; */
		height: 34vw;
	}

	.texts h1 {
		font-size: 7vw;
		transform: translateX(-5vw);
	}

	.texts p {
		font-size: 2vw;
		transform: translateX(-5vw);
	}
}

@media (min-width: 800px) and (max-width: 1000px) {
	.link {
		font-size: 1.7vw;
	}
	.horizontal {
		transform: translateX(-3vw) translateY(-32vw);
	}
}

@media (min-width: 1000px) and (max-width: 1199px) {
	.link {
		font-size: 1.5vw;
	}
	.horizontal {
		transform: translateX(-3vw) translateY(-32vw);
	}
}
